body {
  background: #333333;
  margin: 0;
}

#terminal {
  position: absolute;
  top: 0;
  left: 0;
  color: #00DD00;
  font-weight: bold;
  padding: 0;
  margin: 1em;
  overflow: hidden;
}

#map {
  background: #666633;
  border-collapse: collapse;
  font-weight: bold;
  font-family: monospace;
  float: right;
  margin: 1em;
}

#map td {
  border: 1px #555522 solid;
  padding: 0 0.4em;
}

#map td.cur {
  background: #888855;
}
