body {
  background: #333333;
  margin: 0;
}

#terminal {
  position: absolute;
  top: 0;
  left: 0;
  color: #00DD00;
  font-weight: bold;
  padding: 0;
  margin: 1em;
  overflow: hidden;
}

#map {
  background: #363636;
  border-collapse: collapse;
  font-weight: bold;
  font-family: monospace;
  float: right;
  margin: 1.5em;
}

#map td {
  border: 1px #006000 solid;
  color: #00DD00;
  width: 1.3em;
  height: 1.3em;
  text-align: center;
  vertical-align: middle;
}

#map td.cur {
  color: #333333;
  background: #00DD00;
}
